<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> {{description}} </p>
        <img class="portrait" src="./img/me.jpg" alt="my pic">
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>